<?xml version="1.0"?>

<robot name="my_robot">

    <material name="grey">
        <color rgba="0.5 0.5 0.5 1"></color>
    </material>

    <link name = "base_link">
        <visual>
            <geometry>
                <box size="0.4 0.4 0.1"></box>
            </geometry>
            <origin xyz="0 0 0.05" rpy="0 0 0"></origin>
            <material name="grey"></material>
        </visual>
    </link>
</robot>